@charset "UTF-8";

body{
	background:hsla(118, 100%, 0%, 1);
}
div{
	background:hsla(104, 100%, 50%, 1);
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}
.button{
	display:inline-block;
	margin-right:0;
	border:0px;
	background:#3498db;
}
