@charset "UTF-8";

body{
	background:hsla(118, 100%, 40%, 1);
}
div{
	background:hsla(104, 100%, 30%, 1);
	width:75%;
	height:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}
.input{
	width:100%;
}
.inp{
	width:79.75%;
	height:3rem;
	float:top;
}
.button{
	display:inline-block;
	text-align:center;
	font-size:2rem;
	width:19.5%;
	float:right;
	height:3rem;
	background:#3498db;
}
.footer{
	width:5rem;
	height:5rem;
	float:right;
	
}
