@charset "UTF-8";

body{
	background:hsla(118, 100%, 40%, 1);
}
.aaa{
	background:hsla(104, 100%, 30%, 1);
	width:75%;
	height:85%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}
#inputview{
	width:100%;
	height:3rem;
}
#listview > .active{
	background:hsla(201, 100%, 45%, 1);
}
#listview > .inactive{
	background:hsla(201, 18%, 45%, 1);
}
#listview>*:hover{
	background:hsla(282, 51%, 45%, 1);
}

.inp{
	padding:0;
	margin:0;
	border:0;
	width:60%;
	display:inline-block;
	height:3rem;
	float:top;
}
.butt{
	padding:0;
	margin:0;
	border:0;
	display:inline-block;
	text-align:center;
	font-size:2rem;
	width:20%;
	float:right;
	height:3rem;
	background:#3498db;
}
.save{
	padding:0;
	margin:0;
	border:0;
	display:inline-block;
	text-align:center;
	font-size:2rem;
	width:20%;
	float:right;
	height:3rem;
	background:#3498db;
}
.footerview{
	width:7rem;
	height:2rem;
	margin-bottom:10%;
	
}
